.elements{
    position: absolute;
    border-width: 1px;
    overflow: hidden;
    width: 3299px;
    height: 2338px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
/* .svg-elements{
    position: absolute;
    border-width: 1px;
    overflow: hidden;
    width: 3299px;
    height: 2338px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
} */

/* .text{
  position: absolute;
  top: 60px;
  left: 500px;
  width: 100px;
  border: 5px solid #0000;
  text-align: center;
  max-width: 120px;
  cursor:move;
  font-size: 1.4rem;
  overflow-wrap: normal;
  font-family: Helvetica;
  min-width: 3rem; 
  text-decoration: none;
  z-index: 20;
} */

.edit-text{
  position: absolute;
  /* top: 60px;
  left: 500px; */
  width: 100px;
  border: 5px solid #0000;
  text-align: center;
  max-width: 120px;
  cursor:move;
  font-size: 1.4rem;
  overflow-wrap: normal;
  font-family: Helvetica;
  min-width: 3rem; 
  text-decoration: none;
}

.process{
    position: absolute;
    /* width:300px;
    height:200px;
    top:60px;
    left:500px; */
    border: 2px solid black;
    border-radius: 15px;
    cursor: move;
}
.process-time{
    position: absolute;
    /* width:150px;
    height:60px;
    top:-2px;
    left:148px; */
    border: 2px solid black;
    border-radius: 15px;
    cursor: text;
    /* -webkit-user-select:none; */
    text-align: center;
    /* overflow-wrap: normal; */
    font-family: Helvetica;
}
.process-owner{
    position: absolute;
    /* width:180px;
    height:60px;
    top:138px;
    left:-2px; */
    border: 2px solid black;
    border-radius: 15px;
    cursor: text;
    text-align: center;
    overflow-wrap: normal;
    font-family: Helvetica;
}
/* .process:after{
    content: "";
    position: absolute;
    top:-2px;
    left:148px;
    width:150px;
    height:60px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: move;
}
.process:before{
    content: "";
    position: absolute;
    top:138px;
    left:-2px;
    width:150px;
    height:60px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: move;
} */

/* .input{
    position: absolute;
    border: 2px solid black;
    border-radius: 15px;
    cursor: move;
} */
.input {
    position: absolute;
    height: 60px;
    width: 150px;
    left: 500px;
    top: 60px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: move;
}
.input:after {
    content: "";
    position: absolute;
    left: 96px;
    top: -30px;
    transform: rotate(-45deg);
    width: 110px;
    height: 110px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    /* border-left: 70px solid red;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent; */
}
.input:before {
    content: "";
    position: absolute;
    left: 74px;
    top: 23px;
    transform: rotate(-90deg);
    width: 148px;
    border: 1px solid black;
}

.output {
    position: absolute;
    height: 60px;
    width: 150px;
    /* left: 500px;
    top: 60px; */
    background: black;
    border-radius: 5px;
    cursor: move;
}
.output:after {
    content: "";
    position: absolute;
    right: -60px;
    bottom: -40px;
    width: 0px;
    height: 0px;
    border-radius:5px;
    border-left: 70px solid black;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

.end-of-instance{
    position: absolute;
    /* top: 60px;
    left: 500px; */
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: move;
}
.end-of-instance:after{
    content: "E";
    position: absolute;
    font-size: 55px;
    top: 16px;
    left: 33px;
}

.event-transition{
    position: absolute;
    /* top:60px;
    left:500px;
    width:150px;
    height:60px; */
    border: 2px solid black;
    border-radius: 15px;
    cursor: move;
}

.two-branching{
    position: absolute;
    /* top: 60px;
    left: 550px; */
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: move;
}

.three-branching{
    position: absolute;
    /* top: 60px;
    left: 550px; */
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: move;
}

.parallel{
    position: absolute;
    top:60px;
    left:500px;
    width:110px;
    height:70px;
    border: 2px solid black;
    cursor: move;
}
.parallel:after{
    content: "";
    position: absolute;
    top: -2px;
    left: 93px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
}
.parallel:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 27px;
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    left: 99px;
    top: -16px;
    z-index: 1;
    background: white;
}

.redirection-symbol{
    /* top: -140px; */
    left: 500px;
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
    cursor: move;
  }
.redirection-symbol:before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
    cursor: move;
  }
.redirection-symbol:after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
    cursor: move;
  }

  .split {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  .split:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .split:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .select-circle{
    position: absolute;
    width: 18px;
  }

  .rediraction:before,
.rediraction:after,
.inner:before,
.inner:after { background: black; }
.inner { border-color: black}

  .rediraction {
    position: absolute;
    top: 100px;
    left: 45%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 10;
    cursor: move;
  }
  
  .rediraction:before,
  .rediraction:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 86px;
    margin-top: -41px;
    z-index: 1;
  }
  
  .rediraction:after {
    left: auto;
    right: 0;
    margin-top: -45px;
    height: 92px;
  }
  
  .inner {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,.25);
    border-width: 2px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
  }
  
  .inner:before,
  .inner:after {
    -webkit-transform: rotate(45deg);
    content: "";
    position: absolute;
    width: 2px;
    
    height: 85px;
    margin-top: -41px;
    z-index: 1;
    right: auto;
    left: 27px;
    bottom: auto;
    top: 27px;
  }
  
  .inner:after {
    height: 90px;
    right: 30px;
    left: auto;
    bottom: -13px;
    top: auto;
  }